{% block forum_card %}
  {% from '_macros/icon.html.twig' import icon %}
  <article class="flex flex--slim-gutters flex--no-wrap flex--column flex-desktop--row flex-desktop--align-center pad-v">
    <div class="flex__grow flex__shrink">
      <h2 class="fw-normal text-md">
        <a href="{{ path('forum', { forum_name: forum.name }) }}"
           class="no-underline"
           aria-label="{{ '%s &mdash; %s'|format(forum.name|e, forum.title|e)|raw }}">
          <span class="flex flex--slim-gutters">
            <span aria-hidden="true">{{- '/f/<b>%s</b>'|format(forum.name|e)|raw }}</span>

            {% if forum.featured %}
              <span class="fg-orange"
                    title="{{ 'help.forum_is_featured'|trans }}"
                    aria-label="{{ 'help.forum_is_featured'|trans }}">
                {{- icon('star', '⭐') -}}
              </span>
            {% endif %}

            {% if is_granted('ROLE_USER') and app.user.hidingForum(forum) %}
              <span class="fg-red"
                    title="{{ 'help.forum_is_hidden'|trans }}"
                    aria-label="{{ 'help.forum_is_hidden'|trans }}">
                {{- icon('cancel', '❌') -}}
              </span>
            {% endif %}
          </span>

          <b class="block fg-text text-xl no-underline__exempt" aria-hidden="true">
            {{- forum.title -}}
          </b>
        </a>
      </h2>

      <p class="break-text">
        {{- forum.description -}}
      </p>
    </div>

    {#- outer div prevents interfering with inner div's margins -#}
    <div>
      <div class="flex flex--guttered flex-desktop--slim-gutters flex--align-center flex-desktop--column">
        {% if is_granted('ROLE_USER') %}
          {% from 'forum/_macros.html.twig' import subscribe_button %}
          {% set subscribed = forum.subscribed(app.user) %}
          <form action="{{ path(subscribed ? 'unsubscribe' : 'subscribe', {forum_name: forum.name}) }}"
                method="POST"
                class="subscribe-form"
                data-forum="{{ forum.name }}">
            <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">
            {{ subscribe_button(forum, subscribed) }}
          </form>
        {% else %}
          {% set subscriber_count = forum.subscriptions|length %}
          <p>{{ 'forum.subscriber_count'|trans({
              '%count%': subscriber_count,
              '%formatted_count%': subscriber_count|format_number,
            }) }}</p>
        {% endif %}

        <p class="fg-muted">
          {% set submission_count = forum.submissions|length %}
          {{ 'forum.submission_count'|trans({
            '%count%': submission_count,
            '%formatted_count%': submission_count|format_number,
          }) -}}
        </p>
      </div>
    </div>
  </article>
{% endblock forum_card %}
